github "Alamofire/Alamofire" ~> 4.5.0
github "hkellaway/Gloss" ~> 1.2.0
github "subtranix/GMEllipticCurveCrypto" == 1.3.2
git "ssh://git@bitbucket.browser.yandex-team.ru/ml/mobile-functional-library-swift.git"